name: Seat Brain Release validation

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ "main" ]

jobs:
  # JOB 1: VALIDACIÓN DE SOFTWARE
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del codigo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9' # Consistencia con Lambda

      - name: Simular validacion de firmware
        run: |
          echo "Iniciando validacion del cerebro del asiento..."
          python src/seat_controller.py
          echo "Validacion completada con éxito."

  # JOB 2: GENERAR EL PLAN DE INFRAESTRUCTURA
  terraform-plan:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # Guardamos el plan para que el siguiente job lo recupere
      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan-file
          path: tfplan

  # JOB 3: DESPLEGAR (ESTO ACTIVA EL BOTÓN DE APROBACIÓN)
  terraform-apply:
    needs: terraform-plan
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production  # <--- VÍNCULO CON EL BOTÓN EN SETTINGS
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan-file

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan

      - name: Terraform Outputs
        run: terraform output

      # Tus pasos adicionales de reporte (opcionales aquí)
      - name: Upload Incident Report to S3
        if: always()
        run: |
          REPORT_PATH=$(find . -name "incident_report.json" | head -n 1)
          if [ -n "$REPORT_PATH" ]; then
            aws s3 cp $REPORT_PATH s3://hella-seat-brains-reports-leonardo-arroyo/incidents/$(date +%Y-%m-%d)/incident_report.json
          fi